node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
*.log
**/*.log
.git
.github
.vscode
.idea
*.md
docs
deploy
bash/turbo-run
bash/vsh
bash/clean.mjs
vitest.config.ts
vitest.workspace.ts
cspell.json
stylelint.config.mjs
lefthook.yml
